RewriteEngine On

# MIME Types
AddType text/calendar .ics

# Caching
<filesMatch "\.(jpg|png|ico|woff|woff2|ttf)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# Redirect HTTP requests to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

