
/**********************************************************************
 * layers
 **********************************************************************/

/* Layer            Elevation Level  Z-Index
 * ===============  ===============  =======
 * background                             -1
 * page content           0dp - 2dp     0, 1
 * app bar and menu             4dp        2
 * lightboxes                              3
 * loading-indicator                       4
 * alerts                      24dp        5
 */

/**********************************************************************
 * colors and shadows
 **********************************************************************/

:root {
  --alternative--background: #f5f5f5;
  --app-bar--background: rgb(120, 21, 21); /* #781515 */
  --app-bar--semitransparent-background: rgba(120, 21, 21, .9);
  --app-bar--color: #fff;
  --app-bar--border-color: #601010;
  --app-footer-links--background: #e0e0e0;
  --app-menu--color: #424242;
  --app-menu--background: rgb(224, 224, 224); /* #e0e0e0 */
  --app-menu--semitransparent-background: rgba(224, 224, 224, .9);
  --app-menu--border-color: rgba(0, 0, 0, .15);
  --app-menu-item--hover--background: rgba(0, 0, 0, .075);
  --backdrop-filter: blur(8px);
  --background: #fff;
  --banner--background: #ad463c;
  --banner--color: #fff;
  --box-shadow-2dp: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-4dp: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --box-shadow-24dp: 0 19px 38px rgba(0, 0, 0, .30), 0 15px 12px rgba(0, 0, 0, .22);
  --card--background: #f5f5f5;
  --card-icon--background: #e0e0e0;
  --color: #616161;
  --clickable-tile--color: #fff;
  --clickable-tile--background: rgba(120, 21, 21, 0.9); /* #781515 */
  --clickable-tile--hover--background: rgba(128, 35, 35, .9);
  --contained-button--color: #fff;
  --contained-button--background: rgb(120, 21, 21); /* #781515 */
  --contained-button--hover--background: rgb(128, 35, 35);
  --dialog--background: #fff;
  --header--background: linear-gradient(45deg, #e0e0e0, #bdbdbd);
  --lightbox--background: #242424;
  --lightbox-button--color: #e0e0e0;
  --lightbox-viewport--background: #121212;
  --loading-indicator-background: rgba(255, 255, 255, .5);
  --menu-item--border-color: #e0e0e0;
  --picture--background: #eeeeee;
  --primary--color: #781515;
  --table-header--background: #e0e0e0;
  --text-button--hover--background: rgba(0, 0, 0, .075);
  --tile--background: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --alternative--background: #202020;
    --app-menu--color: #fff;
    --app-menu--background: rgb(39, 39, 39); /* #272727 */
    --app-menu--semitransparent-background: rgba(39, 39, 39, .9);
    --app-menu--border-color: rgba(255, 255, 255, .15);
    --app-menu-item--hover--background: rgba(255, 255, 255, 0.06);
    --app-footer-links--background: #2e2e2e;
    --background: #121212;
    --banner--background: #480000;
    --banner--color: #e0e0e0;
    --card--background: #202020;
    --card-icon--background: #616161;
    --color: #e0e0e0;
    --dialog--background: #373737;
    --header--background: linear-gradient(45deg, #555555, #373737);
    --menu-item--border-color: #424242;
    --picture--background: #2e2e2e;
    --primary--color: #ca8a8b;
    --table-header--background: #424242;
    --text-button--hover--background: rgba(255, 255, 255, 0.06);
    --tile--background: #424242;
  }
}

/**********************************************************************
 * fonts
 **********************************************************************/

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300; /* light */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-300.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-300.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-300.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400; /* regular */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-regular.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-regular.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700; /* bold */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-700.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-700.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-700.ttf) format('truetype');
}

/**********************************************************************
 * document
 **********************************************************************/

 html {
  height: 100%;
  -webkit-text-size-adjust: 100%; /* prevent font scaling in iOS Safari */
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12pt; /* = 16px */
  color: var(--color);
  background: var(--background);
}

/**********************************************************************
 * containers
 **********************************************************************/

 .container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767.99px) {
  .container {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px)  {
  .container {
    width: 960px;
  }
}

/**********************************************************************
 * app header
 **********************************************************************/

body > header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

body > header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > header li {
  white-space: nowrap;
}

@media (max-width: 767.99px) {
  /* app bar */
  .app-bar {
    box-sizing: border-box;
    height: 56px;
    padding: 16px 16px 15px 16px;
    border-bottom: 1px solid var(--app-bar--border-color);
    box-shadow: var(--box-shadow-4dp);
    background: var(--app-bar--background);
    color: var(--app-bar--color);
  }

  .app-bar ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .app-bar li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* menu button */
  body > header:not(.app-menu-unfolded) #close-menu-icon {
    display: none;
  }

  body > header.app-menu-unfolded #open-menu-icon {
    display: none;
  }

  /* app menu */
  .app-menu {
    position: absolute;
    height: calc(100vh - 56px);
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    transition: visibility .5s;
  }

  .app-menu-unfolded .app-menu {
    visibility: visible;
  }

  .app-menu ul {
    position: absolute;
    left: 100%;
    height: 100%;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    color: var(--app-menu--color);
    background: var(--app-menu--background);
    border-left: 1px solid var(--app-menu--border-color);
    box-shadow: var(--box-shadow-4dp);
    transition: transform .5s;
  }

  .app-menu-unfolded .app-menu ul {
    transform: translate(-100%, 0);
  }

  .app-menu li {
    position: relative;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    flex: none;
    display: grid;
    grid-template-columns: 27px auto;
    grid-column-gap: 16px;
    align-items: center;
    justify-items: left;
    border-bottom: 1px solid var(--app-menu--border-color);
  }

  .app-menu li:hover {
    background: var(--app-menu-item--hover--background);
  }

  .app-menu svg {
    justify-self: center;
  }

  @supports ((backdrop-filter: var(--backdrop-filter)) or (-webkit-backdrop-filter: var(--backdrop-filter))) {
    .app-bar {
      background: var(--app-bar--semitransparent-background);
      backdrop-filter: var(--backdrop-filter);
      -webkit-backdrop-filter: var(--backdrop-filter);
    }
    .app-menu ul {
      background: var(--app-menu--semitransparent-background);
      backdrop-filter: var(--backdrop-filter);
      -webkit-backdrop-filter: var(--backdrop-filter);
    }
  }
}

@media (min-width: 768px) {
  body > header {
    box-sizing: border-box;
    height: 56px;
    padding: 16px 16px 15px 16px;
    border-bottom: 1px solid var(--app-bar--border-color);
    box-shadow: var(--box-shadow-4dp);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background: var(--app-bar--background);
    color: var(--app-bar--color);
  }

  .app-bar,
  .app-menu  {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  body > header ul {
    display: grid;
    grid-column-gap: 3rem;
    grid-auto-flow: column;
  }

  body > header li {
    display: grid;
    grid-column-gap: .5rem;
    grid-auto-flow: column;
    align-items: center;
    line-height: 1rem;
  }

  .app-menu svg {
    display: none;
    /*color: rgba(255, 255, 255, .5);*/
  }

  #menu-button {
    display: none;
  }

  @supports ((backdrop-filter: var(--backdrop-filter)) or (-webkit-backdrop-filter: var(--backdrop-filter))) {
    body > header {
      background: var(--app-bar--semitransparent-background);
      backdrop-filter: var(--backdrop-filter);
      -webkit-backdrop-filter: var(--backdrop-filter);
    }
  }
}

@media (min-device-width: 1025px), not all and (display-mode: standalone) {
  #back-button {
    display: none !important;
  }
}

/**********************************************************************
 * main area
 **********************************************************************/

body > main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/**********************************************************************
 * app footers
 **********************************************************************/

body > footer {
  flex: none;
  display: flex;
}

body > footer.links {
  background: var(--app-footer-links--background);
}

body > footer.links .container {
  display: grid;
}

body > footer.links .link.progress:after {
  background: var(--color);
}

body > footer.copyright {
  background: var(--alternative--background);
}

body > footer.copyright p {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-weight: 300; /* light */
  font-size: .8rem;
}

@media (max-width: 767.99px) {
  body > footer.links .container {
    grid-template-columns: 1fr;
    padding: .25rem 0;
  }

  body > footer.links .link {
    justify-self: start;
    padding: .25rem 0;
  }
}

@media (min-width: 768px) {
  body > footer {
    justify-content: space-around;
  }

  body > footer.links .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  body > footer.links .container .link {
    justify-self: center;
    padding: .5rem 0;
  }

  body > footer.links .container > *:first-child {
    justify-self: start;
  }

  body > footer.links .container > *:last-child {
    justify-self: end;
  }
}

/**********************************************************************
 * device-dependent elements
 **********************************************************************/

@media (max-device-width: 767px) and (orientation: landscape) {
  .mobile-portrait:not(.mobile-landscape),
  .tablet:not(.mobile-landscape),
  .desktop:not(.mobile-landscape) {
    display: none;
  }
}

@media (max-device-width: 767px) and (orientation: portrait) {
  .mobile-landscape:not(.mobile-portrait),
  .tablet:not(.mobile-portrait),
  .desktop:not(.mobile-portrait) {
    display: none;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .mobile-landscape:not(.tablet),
  .mobile-portrait:not(.tablet),
  .desktop:not(.tablet) {
    display: none;
  }
}

@media (min-device-width: 1025px) {
  .mobile-landscape:not(.desktop),
  .mobile-portrait:not(.desktop),
  .tablet:not(.desktop) {
    display: none;
  }
}

/**********************************************************************
 * clickable elements
 **********************************************************************/

[onclick]:not(.disabled) {
  user-select: none;
}

[onclick]:hover:not(.disabled):not(.cursor-default) {
  cursor: pointer;
}

/**********************************************************************
 * buttons
 **********************************************************************/

.contained-button,
.text-button {
  position: relative;
  box-sizing: border-box;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background .15s; /* hover delay */
}

.contained-button {
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: var(--contained-button--color);
  background: var(--contained-button--background);
  box-shadow: var(--box-shadow-2dp);
}

.contained-button:hover {
  background: var(--contained-button--hover--background);
}

.text-button {
  min-width: 4rem;
  padding: .5rem;
  border-radius: .25rem;
  color: var(--primary--color);
  font-weight: bold;
}

.text-button:hover {
  background: var(--text-button--hover--background);
}

.button-with-icon {
  padding: .5rem 1rem .5rem .75rem;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: .5rem;
  align-items: center;
  justify-items: center;
}

/**********************************************************************
 * tiles
 **********************************************************************/

.tiles {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  grid-gap: 2px;
}

.tiles > * {
  padding: .5rem;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 8px;
  align-items: center;
  justify-items: center;
  align-items: center;
  background: var(--tile--background);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  line-height: 1.5rem;
  transition: background .15s; /* hover delay */
}

.tiles > *[onclick] {
  position: relative;
  color: var(--clickable-tile--color);
  background: var(--clickable-tile--background);
[Info  - 20:27:44.596] <syntax> Starting...
}

.tiles > *[onclick]:hover {
  background: var(--clickable-tile--hover--background);
}

/**********************************************************************
 * cards
 **********************************************************************/

.card {
  border-radius: .25rem;
  padding: 1rem .5rem .5rem .5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "card-icon card-title"
    "card-icon card-subline"
    "card-text card-text"
    "card-actions card-actions";
  background: var(--card--background);
  box-shadow: var(--box-shadow-2dp);
  line-height: 1.5rem;
}

.card-icon {
  grid-area: card-icon;
  height: 40px;
  width: 40px;
  margin: 0 1rem 0 .5rem;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--card-icon--background);
}

.card-title {
  grid-area: card-title;
  font-weight: bold;
}

.card-subline {
  grid-area: card-subline;
}

.card-text {
  grid-area: card-text;
  margin-top: .5rem;
}

.card-actions {
  grid-area: card-actions;
  height: 2.25rem;
  margin-top: .5rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem; 
  align-items: stretch;
  justify-content: start;
}

/**********************************************************************
 * dialogs
 **********************************************************************/

.dialog-scrim {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.67);
}

.dialog-container {
  margin: 1rem;
  border-radius: .5rem;
  display: grid;
  grid-gap: .5rem;
  background: var(--dialog--background);
  box-shadow: var(--box-shadow-24dp);
}

.dialog-title {
  margin: 0 1rem .5rem 1rem;
  font-weight: bold;
}

.dialog-text {
  margin: 0 1rem;
}

.dialog-text p {
  margin: 0;
  line-height: 1.5rem;
}

.dialog-actions {
  height: 2.25rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem; 
  align-items: stretch;
  justify-content: end;
}

@media (max-width: 767.99px) {
  .dialog-container {
    width: 280px;
    padding: 1.5rem .5rem .5rem .5rem;
  }
}

@media (min-width: 768px) {
  .dialog-container {
    width: 560px;
    padding: 1.75rem .5rem .5rem .5rem;
  }
}

/**********************************************************************
 * loading indicators
 **********************************************************************/

 @keyframes article-loading {
  0%   { left: 0; width: 0; }
  50%  { left: 0; width: 100%; }
  100% { left: 100%; width: 0; }
}

 .article-loading-indicator {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.article-loading-indicator:after {
  position: absolute;
  top: 0;
  height: 4px;
  content: '';
  background: var(--loading-indicator-background);
  animation-name: article-loading;
  animation-duration: 5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes delayed-fade-in {
  0%, 20% { opacity: 0.0; }
  100%    { opacity: 1.0; }
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image-loading-indicator {
  animation-name: delayed-fade-in;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.image-loading-indicator .spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: var(--primary--color) var(--primary--color) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/**********************************************************************
 * ripple-like effects
 **********************************************************************/

.contained-button:before,
.text-button:before,
.tiles > *[onclick]:before,
.alert .action:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform .15s;
}

.contained-button:before {
  border-radius: 8px;
  background: #fff;
  transform: scale(0, 0);
}

.text-button:before {
  border-radius: 4px;
  background: #fff;
  transform: scale(0, 0);
}

.tiles > *[onclick]:before {
  background: #fff;
  transform: scale(0, 1);
}

.alert .action:before {
  background: var(--color);
  border-radius: 0 0 .5rem .5rem;
  transform: scale(0, 1);
}

.contained-button:active:before,
.text-button:active:before,
.tiles > *[onclick]:active:before,
.alert .action:active:before {
  opacity: .15;
  transform: scale(1, 1);
}

@media (max-width: 767.99px) {
  .app-menu li:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    transform: scale(0, 1);
    transition: transform .15s;
  }

  .app-menu li:active:before {
    opacity: .15;
    transform: scale(1, 1);
  }
}

/**********************************************************************
 * helpers
 **********************************************************************/

.flex-auto {
  flex: 1 0 auto;
}

.flex-center-items {
  align-items: center;
}

.flex-center-content {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}