
/* Layer            Z-Index
 * ===============  =======
 * page content       0 - 1
 * header and menu       10
 * lightboxes            20
 * alert boxes           30
 * glass pane            40
 */

:root {
  --primary: #800000;
  --dark-primary: #600000;
  --white: #fff;
  --light-gray: #f8f8f8;
  --gray: #e8e8e8;
  --dark-gray: #606060;
  --black: #000;
  --gray-border: 1px solid #e8e8e8;
  --text-shadow: 1px 1px #606060;
  --box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
  --gradient-bg: linear-gradient(45deg, #e8e8e8, #c0c0c0);
}

/**********************************************************************
 * fonts
 **********************************************************************/

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300; /* light */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-300.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-300.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-300.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400; /* regular */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-regular.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-regular.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700; /* bold */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-700.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-700.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-700.ttf) format('truetype');
}

/**********************************************************************
 * document
 **********************************************************************/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12pt; /* = 16px */
  color: var(--dark-gray);
  background: var(--gray);
}

/**********************************************************************
 * app header
 **********************************************************************/

body > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--white);
  background: var(--primary);
  border-bottom: 1px solid var(--dark-primary);
}

body > header .button {
  margin: 0 1rem;
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

/**********************************************************************
 * top menu
 **********************************************************************/

.top-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-menu .menu-item {
  white-space: nowrap;
}

@media (max-width: 767px) {
  .top-menu .icon {
    background-image: url('../icons/menu.svg');
  }

  .top-menu.unfolded .icon {
    background-image: url('../icons/close.svg');
  }

  .top-menu .menu-items {
    position: absolute;
    top: 100%;
    left: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .9);
    transition: transform .5s;
  }

  .top-menu.unfolded .menu-items {
    transform: translate(-100%, 0);
  }

  .top-menu .menu-item {
    flex: 1 0 auto;
    max-height: 5rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(64, 64, 64, .9);
    color: var(--white);
  }

  .top-menu .menu-item:hover {
    background: rgba(32, 32, 32, .9);
  }
}

@media (min-width: 768px) {
  .top-menu {
    align-self: stretch;
    margin: 0 1rem;
  }

  .top-menu .button {
    display: none;
  }

  .top-menu .menu-items {
    display: grid;
    grid-column-gap: 2rem;
    grid-auto-flow: column;
  }

  .top-menu .menu-item {
    padding: .5rem 0;
  }
}

/**********************************************************************
 * main area
 **********************************************************************/

body > main {
  margin-top: 2.25rem; /* app header height */
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; 
  background: var(--white);
}

/**********************************************************************
 * app footers
 **********************************************************************/

body > footer {
  flex: none;
  display: flex;
}

body > footer.links {
  background: var(--gray);
}

body > footer.links .container {
  display: grid;
}

body > footer.links .link.progress:after {
  background: var(--dark-gray);
}

body > footer.copyright {
  background: var(--light-gray);
}

body > footer.copyright p {
  margin-top: .6rem;
  margin-bottom: .6rem;
  color: var(--dark-gray);
  font-weight: 300; /* light */
  font-size: .8rem;
}

@media (max-width: 767px) { 
  body > footer.links .container {
    grid-template-columns: 1fr;
    padding: .25rem 0;
  }

  body > footer.links .link {
    justify-self: start;
    padding: .25rem 0;
  }
}

@media (min-width: 768px) {
  body > footer {
    justify-content: space-around;
  }

  body > footer.links .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  body > footer.links .container .link {
    justify-self: center;
    padding: .5rem 0;
  }
  
  body > footer.links .container > *:first-child {
    justify-self: start;
  }
  
  body > footer.links .container > *:last-child {
    justify-self: end;
  }
}

/**********************************************************************
 * containers
 **********************************************************************/

.container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px)  {
  .container {
    width: 960px;
  }
}

/**********************************************************************
 * icons
 **********************************************************************/

.icon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon.icon-close {
  background-image: url('../icons/close.svg');
}

.icon.icon-chevron-left {
  background-image: url('../icons/chevron-left.svg');
}

.icon.icon-chevron-right {
  background-image: url('../icons/chevron-right.svg');
}

/**********************************************************************
 * interactive elements
 **********************************************************************/
  
[onclick]:not(.disabled) {
  user-select: none;
}

[onclick]:hover:not(.disabled) {
  cursor: pointer;
}

 /**********************************************************************
 * alerts
 **********************************************************************/

.alert {
  position: fixed;
  z-index: 30;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.alert .box {
  max-width: 80%;
  border-radius: .5rem;
  display: column;
  flex-direction: row;
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.alert .box .text {
  padding: 1rem;
}

.alert .box .text .message {
  font-weight: bold;
}

.alert .box .text .detail {
  margin-top: .5rem;
}

.alert .box .button {
  padding: .5rem 1rem;
  border-top: var(--gray-border);
  text-align: center;
  font-weight: bold;
}

@media (max-width: 767px) {
  .alert .box {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .alert .box {
    max-width: 480px;
  }
}

@media (min-width: 992px)  {
  .alert .box {
    max-width: 640px;
  }
}

/**********************************************************************
 * glass panes
 **********************************************************************/

.glasspane {
  position: fixed;
  z-index: 40;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/**********************************************************************
 * hidden elements
 **********************************************************************/

.hidden {
  display: none !important;
}

/**********************************************************************
 * standalone mode
 **********************************************************************/

@media not all and (display-mode: standalone) {
  .standalone-only {
    display: none !important;
  }
}

/**********************************************************************
 * animations
 **********************************************************************/

@keyframes delayed-fade-in {
  0%, 20% { opacity: 0.0; }
  100%    { opacity: 1.0; }
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.delayed-fade-in {
  animation-name: delayed-fade-in;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.spinner {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.spinner.spinner-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: var(--primary) var(--primary) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
}

/**********************************************************************
 * loading indicators
 **********************************************************************/

@keyframes progressbar {
  0%   { width: 0%; }
  100% { width: 100%; }
}

.loading {
  position: relative;
}

.loading:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  content: '';
  background: var(--white);
  animation-name: progressbar;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
