
/**********************************************************************
 * Layers
 **********************************************************************/

/* Layer            Elevation Level  Z-Index
 * ===============  ===============  =======
 * background                             -1
 * page content           0dp - 2dp     0, 1
 * banners                                 2
 * app bar and menu             4dp        3
 * lightboxes                              4
 * loading-indicator                       5
 * alerts                      24dp        6
 */

/**********************************************************************
 * Colors and shadows
 **********************************************************************/

/*
 *  50  #f6f8ef
 * 100  #f6f8ef
 * 200  #d8e3bd
 * 300  #cad7a5
 * 400  #becf93
 * 500  #b4c682
 * 600  #a4b678
 * 700  #90a16d
 * 800  #7e8d64 <- Logo
 * 900  #606a55 <- Primary
 */

:root {
  --alternative--background: #f5f5f5;
  --app-bar--background: #47503f; /* 900 - 25% black overlay transparency */
  --app-bar--translucent-background: #47503fe0;
  --app-bar--color: #f6f8ef; /* 200 */
  --app-bar--border-color: #47503f; /* 900 - 25% black overlay transparency */
  --app-bar--hover--background: #ffffff18;
  --app-bar--active--background: #ffffff30;
  --app-footer-links--background: #e0e0e0;
  --app-footer-links--hover--background: #00000010;
  --app-footer-links--active--background: #00000020;
  --app-menu--color: #424242;
  --app-menu--background: #e0e0e0;
  --app-menu--translucent-background: #e0e0e0e0;
  --app-menu--border-color: #00000028;
  --app-menu--hover--background: #00000010;
  --app-menu--active--background: #00000020;
  --article-header--background: linear-gradient(45deg, #e0e0e0, #bdbdbd);
  --article-logo--color: #f5f5f5;
  --backdrop-filter: blur(8px);
  --background: #fff;
  --banner--background: #90a16d;
  --banner--color: #f6f8ef;
  --banner-link--color: #fff;
  --banner-action--color: #fff;
  --box-shadow-2dp: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-4dp: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --box-shadow-24dp: 0 19px 38px rgba(0, 0, 0, .30), 0 15px 12px rgba(0, 0, 0, .22);
  --color: #616161;
  --contained-button--color: #f6f8ef;
  --contained-button--background: #606a55;
  --contained-button--hover--background: #717a68; /* 10% white overlay transparency */
  --contained-button--active--background: #828a7b; /* 20% white overlay transparency */
  --dialog--background: #fff;
  --list-divider--color: #e0e0e0;
  --list-item--hover--background: #00000010;
  --list-item--active--background: #00000020;
  --list-item-icon--color: #fff;
  --list-item-icon--background: #bdbdbd;
  --loading-indicator-background: #ffffff80;
  --picture--background: #eeeeee;
  --primary--color: #606a55;
  --table-header--background: #e0e0e0;
  --text-button--hover--background: #00000010;
  --text-button--active--background: #00000020;
  --text-button--disabled--color: #bdbdbd;
  --tile--color: #495141; /* 25% black overlay transparency */
  --tile--background: #e7eed6c0;
  --tile--hover--background: #e7eed6c0;
  --tile--active--background: #e7eed6c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --alternative--background: #202020;
    --app-menu--color: #fff;
    --app-menu--background: #272727;
    --app-menu--translucent-background: #272727e0;
    --app-menu--border-color: #ffffff28;
    --app-menu--hover--background: #ffffff10;
    --app-menu--active--background: #ffffff20;
    --app-footer-links--background: #2e2e2e;
    --app-footer-links--hover--background: #ffffff10;
    --app-footer-links--active--background: #ffffff20;
    --article-header--background: linear-gradient(45deg, #555555, #373737);
    --article-logo--color: #747474;
    --background: #121212;
    --banner--background: #480000;
    --banner--color: #d8e3bd;
    --banner-link--color: #e0e0e0;
    --banner-action--color: #e0e0e0;
    --color: #e0e0e0;
    --dialog--background: #373737;
    --list-divider--color: #424242;
    --list-item--hover--background: #ffffff10;
    --list-item--active--background: #ffffff20;
    --list-item-icon--color: #121212;
    --list-item-icon--background: #747474;
    --picture--background: #2e2e2e;
    --primary--color: #cad7a5;
    --table-header--background: #424242;
    --text-button--hover--background: #ffffff18;
    --text-button--active--background: #ffffff30;
    --text-button--disabled--color: #747474;
  }
}

/**********************************************************************
 * Fonts
 **********************************************************************/

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300; /* light */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-300.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-300.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-300.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400; /* regular */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-regular.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-regular.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700; /* bold */
  font-display: fallback;
  src: url(../../fonts/libre-franklin-v2-latin-700.woff2) format('woff2'),
       url(../../fonts/libre-franklin-v2-latin-700.woff) format('woff'),
       url(../../fonts/libre-franklin-v2-latin-700.ttf) format('truetype');
}

/**********************************************************************
 * Animations
 **********************************************************************/

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes delayed-fade-in {
  0%, 20% { opacity: 0.0; }
  100%    { opacity: 1.0; }
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**********************************************************************
 * Document
 **********************************************************************/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%; /* prevent font scaling in iOS Safari */
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12pt; /* = 16px */
  color: var(--color);
  background: var(--background);
}

/**********************************************************************
 * App header
 **********************************************************************/

body > header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
}

body > header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > header li {
  white-space: nowrap;
}

@media not all and (min-width: 768px) {

  /* app bar */

  .app-bar {
    height: 52px;
    padding: 2px 8px 1px 8px;
    display: flex;
    flex-direction: row;
    color: var(--app-bar--color);
    background: var(--app-bar--background);
    border-bottom: 1px solid var(--app-bar--border-color);
    box-shadow: var(--box-shadow-4dp);
  }

  .app-bar ul {
    flex: 1 0 auto;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .app-bar li {
    height: 24px;
    margin: 2px 0;
    padding: 6px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (hover: hover) {
    .app-bar li:hover {
      background: var(--app-bar--hover--background);
    }

    .app-bar li:active {
      background: var(--app-bar--active--background);
    }
  }

  /* buttons */

  #back-button,
  #menu-button {
    margin: 2px;
    padding: 6px;
    border-radius: 50%;
  }

  body > header:not(.app-menu-unfolded) #close-menu-icon {
    display: none;
  }

  body > header.app-menu-unfolded #open-menu-icon {
    display: none;
  }

  /* app menu */

  .app-menu {
    position: absolute;
    height: calc(100vh - 56px);
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    transition: visibility .5s;
  }

  .app-menu-unfolded .app-menu {
    visibility: visible;
  }

  .app-menu ul {
    position: absolute;
    left: 100%;
    height: 100%;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    color: var(--app-menu--color);
    background: var(--app-menu--background);
    border-left: 1px solid var(--app-menu--border-color);
    box-shadow: var(--box-shadow-4dp);
    transition: transform .5s;
  }

  .app-menu-unfolded .app-menu ul {
    transform: translate(-100%, 0);
  }

  .app-menu li {
    position: relative;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    flex: none;
    display: grid;
    grid-template-columns: 27px auto;
    grid-column-gap: 16px;
    align-items: center;
    justify-items: left;
    border-bottom: 1px solid var(--app-menu--border-color);
  }

  @media (hover: hover) {
    .app-menu li:hover {
      background: var(--app-menu--hover--background);
    }

    .app-menu li:active {
      background: var(--app-menu--active--background);
    }
  }

  .app-menu svg {
    justify-self: center;
  }

  @supports (backdrop-filter: var(--backdrop-filter)) {
    .app-bar {
      background: var(--app-bar--translucent-background);
      backdrop-filter: var(--backdrop-filter);
    }
    .app-menu ul {
      background: var(--app-menu--translucent-background);
      backdrop-filter: var(--backdrop-filter);
    }
  }

  @supports (-webkit-backdrop-filter: var(--backdrop-filter)) {
    .app-bar {
      background: var(--app-bar--translucent-background);
      -webkit-backdrop-filter: var(--backdrop-filter);
    }
    .app-menu ul {
      background: var(--app-menu--translucent-background);
      -webkit-backdrop-filter: var(--backdrop-filter);
    }
  }
}

@media (min-width: 768px) {
  body > header {
    box-sizing: border-box;
    height: 56px;
    padding: 1px 8px 0 8px;
    border-bottom: 1px solid var(--app-bar--border-color);
    box-shadow: var(--box-shadow-4dp);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--app-bar--background);
    color: var(--app-bar--color);
  }

  .app-bar,
  .app-menu  {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .app-menu svg,
  #menu-button {
    display: none;
  }

  body > header ul {
    display: grid;
    grid-column-gap: 2rem;
    grid-auto-flow: column;
  }

  body > header li {
    height: 24px;
    margin: 2px 0;
    padding: 6px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
  }

  @media (hover: hover) {
    body > header li:hover {
      background: var(--app-bar--hover--background);
    }

    body > header li:active {
      background: var(--app-bar--active--background);
    }
  }

  @supports (backdrop-filter: var(--backdrop-filter)) {
    body > header {
      background: var(--app-bar--translucent-background);
      backdrop-filter: var(--backdrop-filter);
    }
  }

  @supports (-webkit-backdrop-filter: var(--backdrop-filter)) {
    body > header {
      background: var(--app-bar--translucent-background);
      -webkit-backdrop-filter: var(--backdrop-filter);
    }
  }
}

@media (min-device-width: 1025px), not all and (display-mode: standalone) {
  #back-button {
    display: none !important;
  }
}

/**********************************************************************
 * Main area
 **********************************************************************/

body > main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/**********************************************************************
 * App footers
 **********************************************************************/

body > footer {
  flex: none;
  display: flex;
}

body > footer.links {
  background: var(--app-footer-links--background);
}

body > footer.links .container {
  display: grid;
}

@media (hover: hover) {
  body > footer.links .link:hover {
    background: var(--app-footer-links--hover--background);
  }

  body > footer.links .link:active {
    background: var(--app-footer-links--active--background);
  }
}

body > footer.copyright {
  background: var(--alternative--background);
}

body > footer.copyright p {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-weight: 300; /* light */
  font-size: .8rem;
}

@media not all and (min-width: 768px) {
  body > footer.links .container {
    grid-template-columns: 1fr;
    padding: .25rem 0;
  }

  body > footer.links .link {
    justify-self: start;
    margin-left: -.5rem;
    padding: .5rem;
    border-radius: .25rem;
  }
}

@media (min-width: 768px) {
  body > footer {
    justify-content: space-around;
  }

  body > footer.links .container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  body > footer.links .container .link {
    padding: .5rem;
  }

  body > footer.links .container > *:first-child {
    justify-self: start;
    margin-left: -.5rem;
  }

  body > footer.links .container > *:last-child {
    justify-self: end;
    margin-right: -.5rem;
  }
}

/**********************************************************************
 * Containers
 **********************************************************************/

 .container {
  display: flex;
  flex-direction: column;
}

@media not all and (min-width: 768px) {
  .container {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px)  {
  .container {
    width: 960px;
  }
}

/**********************************************************************
 * Device-dependent components
 **********************************************************************/

@media (max-device-width: 767px) and (orientation: landscape) {
  .mobile-portrait:not(.mobile-landscape),
  .tablet:not(.mobile):not(.mobile-landscape),
  .desktop:not(.mobile):not(.mobile-landscape) {
    display: none;
  }
}

@media (max-device-width: 767px) and (orientation: portrait) {
  .mobile-landscape:not(.mobile-portrait),
  .tablet:not(.mobile):not(.mobile-portrait),
  .desktop:not(.mobile):not(.mobile-portrait) {
    display: none;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .mobile:not(.tablet),
  .mobile-landscape:not(.tablet),
  .mobile-portrait:not(.tablet),
  .desktop:not(.tablet) {
    display: none;
  }
}

@media (min-device-width: 1025px) {
  .mobile:not(.desktop),
  .mobile-landscape:not(.desktop),
  .mobile-portrait:not(.desktop),
  .tablet:not(.desktop) {
    display: none;
  }
}

/**********************************************************************
 * Clickable components
 **********************************************************************/

[onclick] {
  user-select: none;
  transition: background .25s; /* hover delay */
}

[onclick]:hover:not(.disabled):not(.cursor-default) {
  cursor: pointer;
}

/**********************************************************************
 * Buttons
 **********************************************************************/

.contained-button,
.text-button {
  position: relative;
  box-sizing: border-box;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.contained-button {
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: var(--contained-button--color);
  background: var(--contained-button--background);
  box-shadow: var(--box-shadow-2dp);
}

@media (hover: hover) {
  .contained-button:not(.disabled):hover {
    background: var(--contained-button--hover--background);
  }

  .contained-button:not(.disabled):active {
    background: var(--contained-button--active--background);
    box-shadow: none;
  }
}

.text-button {
  min-width: 4rem;
  padding: .5rem;
  border-radius: .25rem;
  color: var(--primary--color);
  font-weight: bold;
}

.text-button.disabled {
  pointer-events: none;
  color: var(--text-button--disabled--color);
}

@media (hover: hover) {
  .text-button:not(.disabled):hover {
    background: var(--text-button--hover--background);
  }

  .text-button:not(.disabled):active {
    background: var(--text-button--active--background);
  }
}

.button-with-icon {
  padding: .5rem 1rem .5rem .75rem;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: .5rem;
  align-items: center;
  justify-items: center;
}

/**********************************************************************
 * Dialogs
 **********************************************************************/

.dialog-scrim {
  position: fixed;
  z-index: 6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.67);
  animation: fade-in .5s;
}

.dialog-container {
  margin: 1rem;
  border-radius: .5rem;
  display: grid;
  grid-gap: .5rem;
  background: var(--dialog--background);
  box-shadow: var(--box-shadow-24dp);
}

.dialog-container .title {
  margin: 0 1rem .5rem 1rem;
  font-weight: bold;
}

.dialog-container .text {
  margin: 0 1rem;
}

.dialog-container .text p {
  margin: 0;
  line-height: 1.5rem;
}

.dialog-container .actions {
  height: 2.25rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem;
  align-items: stretch;
  justify-content: end;
}

@media (max-width: 767.99px) {
  .dialog-container {
    width: 280px;
    padding: 1.5rem .5rem .5rem .5rem;
  }
}

@media (min-width: 768px) {
  .dialog-container {
    width: 560px;
    padding: 1.75rem .5rem .5rem .5rem;
  }
}

/**********************************************************************
 * Loading indicators
 **********************************************************************/

.image-loading-indicator {
  animation-name: delayed-fade-in;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.image-loading-indicator .spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: var(--primary--color) var(--primary--color) rgba(0, 0, 0, .1) rgba(0, 0, 0, .1);
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/**********************************************************************
 * Helpers
 **********************************************************************/

.flex-auto {
  flex: 1 0 auto;
}

.flex-center-items {
  align-items: center;
}

.flex-center-content {
  justify-content: center;
}

.hyphens-auto {
  hyphens: auto
}

.overflow-hidden {
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.white-space-nowrap {
  white-space: nowrap;
}
