
article {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

article .flex-auto {
  flex: 1 0 auto;
}

article .flex-center-items {
  align-items: center;
}

article .text-align-center {
  text-align: center;
}

article .text-align-right {
  text-align: right;
}

/**********************************************************************
 * text elements
 **********************************************************************/

article h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

article h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

article subline {
  display: block;
  font-weight: bold;
}

article p {
  margin: 0;
  line-height: 1.5rem;
}

article li {
  line-height: 1.5rem;
}

article a.link {
  color: var(--primary);
  text-decoration: underline;
}

article sup {
  font-size: 0.66rem;
}

/**********************************************************************
 * pictures
 **********************************************************************/

article picture {
  background: var(--gray);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

article picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity .3s linear;
}

article picture > img[data-lazy-loading] {
  opacity: 0;
}

article picture > .loading-indicator {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-device-width: 767px) {
  article picture.tablet-desktop {
    display: none;
  }

  @media (orientation: landscape) {
    article picture.mobile-portrait {
      display: none;
    }
  }

  @media (orientation: portrait) {
    article picture.mobile-landscape {
      display: none;
    }
  }
}

@media (min-device-width: 768px) {
  article picture.mobile-landscape,
  article picture.mobile-portrait {
    display: none;
  }
}

/**********************************************************************
 * article header
 **********************************************************************/

article > header {
  position: relative;
  height: 8rem; /* 128px */
}

@media (max-device-width: 767px) {
  @media (orientation: portrait) {
    article > header.responsive {
      height: 56.25vw; /* 16:9 */
    }
  }

  @media (orientation: landscape) {
    article > header.responsive {
      height: 50vh; /* 50% */
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  @media (orientation: portrait) {
    article > header.responsive {
      height: 33.33vw; /* 3:1 */
    }
  }

  @media (orientation: landscape) {
    article > header.responsive {
     height: 25vw; /* 4:1 */
    }
  }
}

@media (min-device-width: 1025px) {
  article > header.responsive {
    height: 12rem; /* 196px */
  }
}

/* background */

article > header > .background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: var(--gradient-bg);
}

article > header > .background > img.logo {
  position: absolute;
  right: 1rem;
  bottom: -10%;
  height: 120%;
  opacity: .33;
}

article > header > .background > picture {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-device-width: 767px) and (orientation: portrait) {
  article > header > picture.background:not(.mobile-portrait) {
    overflow: hidden;
  }

  article > header > picture.background:not(.mobile-portrait) > img {
    transform: scale(1.25);
  }
}

/* foreground */

article > header > .foreground {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article > header > .foreground.color-white {
  color: var(--white);
  text-shadow: var(--text-shadow);
}

article > header > .foreground > .container {
  margin-bottom: 1rem;
  justify-content: flex-end;
}

@media (min-device-width: 768px) {
  article > header > .foreground.color-white h1 {
    font-size: 3rem;
  }
}

/**********************************************************************
 * main area
 **********************************************************************/

article > main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

/**********************************************************************
 * article footer
 **********************************************************************/

article > footer {
  flex: none;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

/**********************************************************************
 * sections
 **********************************************************************/

article section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article > main.accentuate_even_sections section:nth-child(even),
article > main.accentuate_odd_sections section:nth-child(odd),
article > footer > section:nth-child(odd) {
  background: var(--light-gray);
}

article section .container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article section .container > *:not(:first-child) {
  margin-top: 1rem;
}

article section .container .large-space-around:not(:first-child) {
  margin-top: 2rem !important;
}

article section .container .large-space-around:not(:last-child) {
  margin-bottom: 1rem;
}

/**********************************************************************
 * menus
 **********************************************************************/

article .menu {
  flex: 1 0 auto;
  display: grid;
  align-content: space-evenly;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}

article .menu-item {
  padding: 0 0 .5rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: var(--gray-border);
}

article .menu-item .title {
  flex: none;
  color: var(--primary);
  font-weight: bold;
}

article .menu-item .subline {
  flex: 1 0 auto;
  margin-top: .25rem;
}

article .menu-item.loading:after {
  background: var(--primary);
}

@media (max-width: 767px) {
  article .menu {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  @media (orientation: portrait) {
    article .menu {
      grid-template-columns: 1fr;
    }
  }

  @media (orientation: landscape) {
    article .menu {
      grid-template-columns: 1fr 1fr;
    }
  }
}

/**********************************************************************
 * buttons
 **********************************************************************/

article .button {
  color: var(--white);
  background: var(--primary-transparent);
  transition: background .3s;
  -webkit-backdrop-filter: var(--backdrop-filter);
}

article .button:hover {
  background: var(--primary-light-transparent);
}

article > main .button, article > footer .button {
  border-radius: .5rem;
  padding: .5rem 1rem;
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: .5rem;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

/**********************************************************************
 * tables
 **********************************************************************/

article table {
  margin: 0;
  border-collapse: collapse;
}

article th,
article td {
  padding: .25rem .5rem;
  border: .125rem solid;
  text-align: left;
}

article tr:first-child th,
article tr:first-child td {
  border-top: none;
}

article tr:last-child th,
article tr:last-child td {
  border-bottom: none;
}

article th:first-child,
article td:first-child {
  border-left: none;
}

article th:last-child,
article td:last-child {
  border-right: none;
}

article th {
  background: var(--gray);
  border-color: var(--white);
  font-weight: bold;
}

article td {
  background: var(--light-gray);
  border-color: var(--white);
}

article > main.accentuate_even_sections section:nth-child(even) th,
article > main.accentuate_odd_sections section:nth-child(odd) th {
  border-color: var(--light-gray);
}

article > main.accentuate_even_sections section:nth-child(even) td,
article > main.accentuate_odd_sections section:nth-child(odd) td {
  background: var(--white);
  border-color: var(--light-gray);
}

/**********************************************************************
 * galleries
 **********************************************************************/

article .gallery {
  display: grid;
  grid-gap: .125rem;
}

article .gallery picture {
  position: relative;
}

article .gallery picture > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

article .gallery.gallery-image-format-3-2 picture {
  padding-top: 66.67%;
}

article .gallery.gallery-image-format-16-9 picture {
  padding-top: 56.25%;
}

@media (max-width: 767px) {
  article .gallery.gallery-layout-2-3-3,
  article .gallery.gallery-layout-2-4-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  article .gallery.gallery-layout-2-3-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (orientation: portrait) {
    article .gallery.gallery-layout-2-4-4 {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (orientation: landscape) {
    article .gallery.gallery-layout-2-4-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/**********************************************************************
 * calendar
 **********************************************************************/

article .calendar {
  display: grid;
}

article .calendar > * {
  padding: .25rem .5rem;
}

article .calendar .day-of-week,
article .calendar .date,
article .calendar .time {
  background: var(--gray);
}

article .calendar .text {
  background: var(--light-gray);
}

article .calendar .expired {
  opacity: .5;
}

@media (max-width: 767px) {
  article .calendar {
    grid-template-columns: auto auto auto;
  }

  article .calendar .date {
    text-align: center;
  }

  article .calendar .time {
    text-align: right;
  }

  article .calendar .text {
    grid-column: 1 / span 3;
    margin-bottom: .5rem;
  }
}

@media (min-width: 768px) {
  article .calendar {
    grid-template-columns: auto auto auto 1fr;
  }

  article .calendar > * {
    margin-bottom: .125rem;
  }
}

/**********************************************************************
 * contacts
 **********************************************************************/

article .contacts {
  display: grid;
  grid-gap: 2rem;
}

article .contact {
  display: grid;
  grid-gap: 1rem;
  line-height: 1.5;
}

article .contact picture {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

article .contact picture > img {
  border-radius: 50%;
}

article .contact .name {
  font-weight: bold;
}

article .contact .phone-number:before {
  content: 'Telefon: ';
}

article .contact .mobile-number:before {
  content: 'Mobil: ';
}

article .contact .email-address:before {
  content: 'E-Mail: ';
}

@media (max-width: 480px) {
  article .contact {
    grid-template-columns: auto;
    text-align: center;
  }

  article .contact picture {
    justify-self: center;
  }
}

@media (min-width: 481px) {
  article .contact {
    grid-template-columns: auto 1fr;
  }

  article .contact .phone-number:before,
  article .contact .mobile-number:before,
  article .contact .email-address:before {
    float: left;
    width: 4rem;
  }
}

@media (min-width: 992px)  {
  article .contacts {
    align-self: stretch;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
  }
}

/**********************************************************************
 * startpage
 **********************************************************************/

/* mobile layout */

@media (max-device-width: 767px) {
  article#startpage > .picture {
    position: absolute;
    z-index: -1;
    height: calc(100vh - 2.25rem);
    width: 100%;
  }

  article#startpage > nav {
    height: calc(100vh - 2.25rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

/* tablet and desktop layout */

@media (min-device-width: 768px) {
  article#startpage > .picture {
    position: relative;
  }

  article#startpage > nav {
    display: none;
  }

  article#startpage > main {
    flex: none;
  }

  @media (max-device-width: 1024px) and (orientation: portrait) {
    article#startpage > .picture {
      height: 33.33vw;
    }
  }

  @media (max-device-width: 1024px) and (orientation: landscape) {
    article#startpage > .picture {
     height: 25vw;
    }
  }

  @media (min-device-width: 1025px) {
    article#startpage > .picture {
      flex: 1 0 auto;
      min-height: 192px;
      max-height: 25vw;
    }
  }
}

/* picture */

article#startpage > .picture > picture {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* navigation */

article#startpage > nav > .buttons {  
  display: grid;
  grid-gap: .25rem;
  padding: 0 .25rem .25rem .25rem;
}

article#startpage > nav .button {
  padding: .5rem .25rem;
  display: grid;
  grid-row-gap: .5rem;
  grid-template-rows: auto 1fr;
  justify-items: center;
  border-radius: .25rem;
}

article#startpage > nav .button > img {
  height: 24px;
}

article#startpage > nav .button .label {
  align-self: center;
  justify-self: stretch;
  text-align: center;
}

@media (orientation: portrait) {
  article#startpage > nav .buttons {
    grid-template-columns: 1fr 1fr;
  }
}

@media (orientation: landscape) {
  article#startpage > nav .buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (orientation: portrait) and (display-mode: browser) {
  article#startpage > nav .buttons {
    margin-bottom: 64px;

    /* avoids that the buttons are hidden by the browser's
     * navigation bar
     */
  } 
}

/* headline */

article#startpage .headline {
  display: grid;
}

article#startpage .headline .logo {
  position: relative;
  height: 4rem;
  width: 4rem;
}

article#startpage .headline .logo > img,
article#startpage .headline .logo .placeholder-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

article#startpage .headline .logo > img[data-lazy-loading] {
  opacity: 0;
}

article#startpage .headline .logo > img:not([data-lazy-loading]) ~ .placeholder-image {
  display: none;
}

article#startpage .headline h1 {
  color: var(--primary);
  font-size: 1.5rem;
}

article#startpage .headline subline {
  margin-top: .25rem;
  font-size: 1.5rem;
}

@media (max-width:480px) {
  article#startpage .headline {
    grid-template-columns: auto;
    grid-row-gap: 1rem;
    justify-items: center;
  }

  article#startpage .headline h1,
  article#startpage .headline subline {
    text-align: center;
  }
}

@media (min-width: 481px) {
  article#startpage .headline {
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

/**********************************************************************
 * teams
 **********************************************************************/

article#teams {
  background-attachment: fixed; /* parallax */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

article#teams > .background {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

article#teams >.background > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} 

article#teams > main {
  background: transparent;
}

article#teams > main > section:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: var(--backdrop-filter);
}

/**********************************************************************
 * sponsors
 **********************************************************************/

article#sponsors .sponsors {
  display: grid;
  grid-gap: 4rem;
}

article#sponsors .sponsors a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

article#sponsors .sponsors picture {
  background: inherit;
}

article#sponsors .sponsors .loading-indicator {
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  article#sponsors .sponsors {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  article#sponsors .sponsors {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  article#sponsors .sponsors {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**********************************************************************
 * contact
 **********************************************************************/

article#contact .how-to-find-us {
  flex: 1 0 auto;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

article#contact .how-to-find-us a.link {
  color: inherit;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  article#contact .how-to-find-us {
    max-height: 56.25vw; /* 16:9 */;
  }
}
