
article {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/**********************************************************************
 * text elements
 **********************************************************************/

article h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

article h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

article subline {
  display: block;
  font-weight: bold;
}

article p {
  margin: 0;
  line-height: 1.5rem;
}

article li {
  line-height: 1.5rem;
}

article a.link {
  color: var(--primary--color);
  text-decoration: none;
}

article sup {
  font-size: 0.67rem;
}

/**********************************************************************
 * pictures
 **********************************************************************/

article picture {
  background: var(--picture--background);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

article picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity .3s linear;
}

article picture > img[data-lazy-loading] {
  opacity: 0;
}

article picture > .image-loading-indicator {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

article .text-over-picture {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, .85);
}

@media (min-device-width: 768px) {
  article .text-over-picture h1 {
    font-size: 3rem;
  }
}

/**********************************************************************
 * banners
 **********************************************************************/

article .banner {
  padding: .5rem;
  display: grid;
  color: var(--banner--color);
  background: var(--banner--background);
}

article .banner .icon {
  grid-area: icon;
  margin: .5rem 1rem .5rem .5rem;
  align-self: center;
}

article .banner .text {
  grid-area: text;
  margin: .5rem;
  line-height: 1.5rem;
}

article .banner .actions {
  grid-area: actions;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

article .banner .actions .text-button {
  color: var(--banner-action--color);
}

@media(max-width: 1023.99px) {
  article .banner {
    grid-template-areas:
      "icon text"
      "actions actions";
    grid-template-columns: auto 1fr;
  }
}

@media (min-width: 1024px) {
  article .banner {
    grid-template-areas:
      "icon text actions";
    grid-template-columns: auto 1fr auto;
  }

  article .banner .actions {
    margin-left: 5rem;
  }
}

/**********************************************************************
 * article headers
 **********************************************************************/

article > header {
  position: relative;
  height: 8rem; /* 128px */
}

@media (max-device-width: 767px) {
  @media (orientation: portrait) {
    article > header.responsive {
      height: 56.25vw; /* 16:9 */
    }
  }

  @media (orientation: landscape) {
    article > header.responsive {
      height: 50vh; /* 50% */
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  @media (orientation: portrait) {
    article > header.responsive {
      height: 33.33vw; /* 3:1 */
    }
  }

  @media (orientation: landscape) {
    article > header.responsive {
     height: 25vw; /* 4:1 */
    }
  }
}

@media (min-device-width: 1025px) {
  article > header.responsive {
    height: 14rem; /* 224px */
  }
}

/* background */

article > header > .background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: var(--article-header--background);
}

article > header > .background > svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 6rem;
  width: 6rem;
  color: var(--article-logo--color);
}


article > header > .background > picture {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-device-width: 767px) and (orientation: portrait) {
  article > header > picture.background:not(.mobile-portrait) {
    overflow: hidden;
  }

  article > header > picture.background:not(.mobile-portrait) > img {
    transform: scale(1.25);
  }
}

/* foreground */

article > header > .foreground {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article > header > .foreground > .container {
  margin-bottom: 1rem;
  /*padding-right: 8rem;*/
  justify-content: flex-end;
}

/**********************************************************************
 * main area
 **********************************************************************/

article > main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--background);
}

/**********************************************************************
 * article footer
 **********************************************************************/

article > footer {
  flex: none;
  display: flex;
  flex-direction: column;
  background: var(--background);
}

/**********************************************************************
 * sections
 **********************************************************************/

article section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article > main.accentuate_even_sections section:nth-child(even),
article > main.accentuate_odd_sections section:nth-child(odd),
article > footer > section:nth-child(odd) {
  background: var(--alternative--background);
}

/* containers */

article section > .container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article section > .container > *:not(:first-child) {
  margin-top: 1rem;
}

article section > .container .large-space-around:not(:first-child) {
  margin-top: 2rem !important;
}

article section > .container .large-space-around:not(:last-child) {
  margin-bottom: 1rem;
}

/**********************************************************************
 * lists
 **********************************************************************/

article ul.list {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) {
  article ul.list.menu,
  article ul.list.contacts {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-content: space-evenly;
  }

  article ul.list.dates {
    padding-left: 2rem;
  }
}

/* list items */

article ul.list > li {
  display: grid;
  padding: 1rem .5rem;
  border-bottom: 1px solid var(--list-divider--color);
}

article ul.list > li[onclick]:hover {
  background: var(--list-item--hover--background);
}

article ul.list > li[onclick]:active {
  background: var(--list-item--active--background);
}

article ul.list > li > .icon {
  grid-area: icon;
  height: 2.5rem; /* = 40px */
  width: 2.5rem;
  margin-right: 1rem;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--list-item-icon--color);
  background: var(--list-item-icon--background);
}

article ul.list > li > .title {
  grid-area: title;
  font-weight: bold;
}

article ul.list > li > .subline {
  grid-area: subline;
}

article ul.list > li > .actions {
  grid-area: actions;
  margin: .5rem 0 -.5rem -.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem; 
  justify-content: start;
}

/* menu items */

article ul.list.menu > li {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title"
    "subline";
  justify-content: start;
}

article ul.list.menu > li > .title {
  color: var(--primary--color);
}

/* dates */

article ul.list.dates > li {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "icon title"
    "icon subline"
    "actions actions";
}

/* contacts */

article ul.list.contacts > li {
  padding: 1rem 0;
}

/**********************************************************************
 * contacts
 **********************************************************************/

article .contact {
  display: grid;
  grid-template-areas:
    "picture name"
    "picture subline"
    "picture contact-details";
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  line-height: 1.5rem;
}

article .contact > picture {
  grid-area: picture;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

article .contact > picture > img {
  border-radius: 50%;
}

article .contact > .name {
  grid-area: name;
  font-weight: bold;
}

article .contact > .subline {
  grid-area: subline;
}

article .contact > .contact-details {
  grid-area: contact-details;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: .5rem;
}

article .contact > .contact-details > svg {
  margin-top: 2px;
}

/**********************************************************************
 * tables
 **********************************************************************/

article table {
  margin: 0;
  border-collapse: collapse;
}

article th,
article td {
  padding: .25rem .5rem;
  border: .125rem solid;
  line-height: 1.5rem;
  text-align: left;
}

article tr:first-child th,
article tr:first-child td {
  border-top: none;
}

article tr:last-child th,
article tr:last-child td {
  border-bottom: none;
}

article th:first-child,
article td:first-child {
  border-left: none;
}

article th:last-child,
article td:last-child {
  border-right: none;
}

article th {
  background: var(--table-header--background);
  border-color: var(--background);
  font-weight: bold;
}

article td {
  background: var(--alternative--background);
  border-color: var(--background);
}

article > main.accentuate_even_sections section:nth-child(even) th,
article > main.accentuate_odd_sections section:nth-child(odd) th {
  border-color: var(--alternative--background);
}

article > main.accentuate_even_sections section:nth-child(even) td,
article > main.accentuate_odd_sections section:nth-child(odd) td {
  background: var(--background);
  border-color: var(--alternative--background);
}

/**********************************************************************
 * galleries
 **********************************************************************/

article .gallery {
  display: grid;
  grid-gap: .125rem;
}

article .gallery picture {
  position: relative;
}

article .gallery picture > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

article .gallery.gallery-image-format-3-2 picture {
  padding-top: 66.67%;
}

article .gallery.gallery-image-format-16-9 picture {
  padding-top: 56.25%;
}

@media (max-width: 767.99px) {
  article .gallery.gallery-layout-2-3-3,
  article .gallery.gallery-layout-2-4-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  article .gallery.gallery-layout-2-3-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (orientation: portrait) {
    article .gallery.gallery-layout-2-4-4 {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (orientation: landscape) {
    article .gallery.gallery-layout-2-4-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/**********************************************************************
 * lightboxes
 **********************************************************************/

article .lightbox {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--alternative--background);
  animation: fade-in .5s;
}

article .lightbox .lb-viewport {
  overflow: hidden;
  display: flex;
}

article .lightbox .lb-pictures {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
}

article .lightbox .lb-pictures img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  background: var(--alternative--background);
}

article .lightbox .lb-button {
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  transition: opacity .25s;
}

article .lightbox .lb-button:hover:not(.disabled) {
  background: var(--text-button--hover--background);
  cursor: pointer;
}

article .lightbox .lb-button:active:not(.disabled) {
  background: var(--text-button--active--background);
  cursor: pointer;
}

article .lightbox .lb-button.disabled {
  opacity: .33;
}

article .lightbox .lb-close-button {
  top: 10px;
  right: 10px;
}

@media (orientation: portrait) {
  article .lb-viewport,
  article .lb-pictures > picture {
    height: calc(100vh - 112px);
    width: 100vw;
  }

  article .lb-prev-button {
    bottom: 10px;
    left: 10px;
  }

  article .lb-next-button {
    bottom: 10px;
    right: 10px;
  }
}

@media (orientation: landscape) {
  article .lb-viewport,
  article .lb-pictures > picture {
    height: 100vh;
    width: calc(100vw - 112px);
  }

  article .lb-prev-button {
    top: calc(max(50% - 18px, 54px));
    left: 10px;
  }

  article .lb-next-button {
    top: calc(max(50% - 18px, 54px));
    right: 10px;
  }
}

/**********************************************************************
 * tiles
 **********************************************************************/

article .tile {
  padding: .5rem;
  display: grid;
  grid-auto-flow: row;
  grid-gap: .5rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: var(--tile--color);
  background: var(--tile--background);
  line-height: 1.5rem;
}

article .tile:hover {
  background: var(--tile--hover--background);
}

article .tile:active {
  background: var(--tile--active--background);
}

@supports (backdrop-filter: var(--backdrop-filter)) {
  article .tile {
    backdrop-filter: var(--backdrop-filter);
  }
}

@supports (-webkit-backdrop-filter: var(--backdrop-filter)) {
  article .tile {
    -webkit-backdrop-filter: var(--backdrop-filter);
  }
}

/**********************************************************************
 * startpage
 **********************************************************************/

/* mobile layout */

@media (max-device-width: 767px) {
  article#startpage > header {
    height: calc(100vh - 56px);
  }

  article#startpage > header > nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2px;
    display: grid;
    grid-gap: 2px;
    grid-auto-rows: max-content;
  }
  
  @media (orientation: portrait) {
    article#startpage > header > nav {
      grid-template-columns: 1fr 1fr;
    }

    @media (display-mode: browser) {
      article#startpage > header > nav {
        margin-bottom: 64px; /* prevent that the nav is hidden by the browser's navigation bar */
      }
    }
  }

  @media (orientation: landscape) {
    article#startpage > header > nav {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/* tablet and desktop layout */

@media (min-device-width: 768px) {
  article#startpage > header > nav {
    display: none;
  }

  article#startpage > main {
    flex: none;
  }

  @media (max-device-width: 1024px) and (orientation: portrait) {
    article#startpage > header {
      height: 33.33vw;
    }
  }

  @media (max-device-width: 1024px) and (orientation: landscape) {
    article#startpage > header {
     height: 25vw;
    }
  }

  @media (min-device-width: 1025px) {
    article#startpage > header {
      flex: 1 0 auto;
      min-height: 14rem;
    }
  }
}

/* picture */

article#startpage > header > picture {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* logo and headline */

article#startpage .logo-and-headline {
  display: grid;
}

article#startpage .logo-and-headline svg {
  grid-area: logo;
  color: var(--primary--color);
}

article#startpage .logo-and-headline h1 {
  grid-area: headline;
  color: var(--primary--color);
  font-size: 1.5rem;
}

article#startpage .logo-and-headline subline {
  grid-area: subline;
  font-size: 1.5rem;
}

@media not all and (min-width: 480px) {
  article#startpage .logo-and-headline {
    grid-template-areas:
      "logo"
      "headline"
      "subline";
    grid-row-gap: 1rem;
    justify-items: center;
  }
}

@media (min-width: 480px) {
  article#startpage .logo-and-headline {
    grid-template-areas:
      "logo headline"
      "logo subline";
    grid-column-gap: 1rem;
    justify-content: center;
  }
}

/**********************************************************************
 * sponsors
 **********************************************************************/

article#sponsors .sponsors {
  display: grid;
  grid-gap: 4rem;
}

article#sponsors .sponsors a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

article#sponsors .sponsors picture {
  background: inherit;
}

@media not all and (min-width: 768px) {
  article#sponsors .sponsors {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  article#sponsors .sponsors {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  article#sponsors .sponsors {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  article#sponsors .sponsors a {
    background: #e0e0e0; 
  }
}

/**********************************************************************
 * contact
 **********************************************************************/

article#contact .email {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  align-items: center;
  justify-content: start;
}

article#contact .how-to-find-us {
  flex: 1 0 auto;
  align-items: center;
  background-size: cover;
  background-position: center;
}

article#contact .how-to-find-us a.link {
  color: inherit;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  article#contact .how-to-find-us {
    max-height: 56.25vw; /* 16:9 */;
  }
}
