
article {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

article h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

article h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

article p {
  margin: 0;
  line-height: 1.5;
}

article p.center {
  text-align: center;
}

article li {
  line-height: 1.5rem;
}

article a.link {
  color: var(--primary);
}

article sup {
  font-size: 0.66rem;
}

@media (max-width: 767px) {
  article h1 {
    font-size: 1.5rem;
  }

  article h2 {
    font-size: 1.25rem;
  }
}

/**********************************************************************
 * containers
 **********************************************************************/

article .container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article .container:not(.menu):not(.contacts) > *:not(:first-child) {
  margin-top: 1rem;
}

article .container .large-space-around:not(:first-child) {
  margin-top: 2rem !important;
}

article .container .large-space-around:not(:last-child) {
  margin-bottom: 2rem;
}

/**********************************************************************
 * headers
 **********************************************************************/

article > header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

article > header .foreground {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

article > header .background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

article > header .container {
  margin-top: 2.25rem; /* = app header height */;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

/* plain headers */

article > header.plain h1 {
  color: var(--primary);
}

@media (max-device-width: 767px) {
  article > header.plain {
    height: 120px;
  }
}

@media (min-device-width: 768px) {
  article > header.plain {
    height: 160px;
  }
}

/* headline and logo */

article > header.headline-and-logo {
  background: var(--gradient-bg);
}

article > header.headline-and-logo .background > img {
  position: absolute;
  height: 100%;
  opacity: .33;
}

@media (max-device-width: 767px) {
  article > header.headline-and-logo {
    height: 120px;
  }

  article > header.headline-and-logo .background > img {
    right: -18px;
    bottom: -18px;
  }
}

@media (min-device-width: 768px) {
  article > header.headline-and-logo {
    height: 160px;
  }

  article > header.headline-and-logo .background > img {
    right: 1rem;
    bottom: -24px;
  }
}

/* startpage */

article > header.startpage {
  background: var(--gray);
}

article > header.startpage .headline {
  margin: 0 .5rem;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-content: center;
  justify-items: center;
}

article > header.startpage h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

article > header.startpage img.logo {
  width: 96px;
  height: 96px;
}

article > header.startpage .background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-device-width: 767px) {
  article > header.startpage {
    height: 100vh;
  }

  article > header.startpage .buttons {
    padding: 0 .25rem .25rem .25rem;
    flex: 1 0 auto;
    display: grid;
    grid-gap: .25rem;
  }

  article > header.startpage .button {
    padding: .5rem .25rem;
    display: grid;
    grid-row-gap: .5rem;
    justify-items: center;
    color: var(--white);
    background: var(--primary);
  }

  article > header.startpage .button .label {
    place-self: center;
    text-align: center;
  }

  @media (orientation: portrait) {
    article > header.startpage .buttons {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (orientation: landscape) {
    article > header.startpage .buttons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media (orientation: portrait) and (display-mode: browser) {
    article > header.startpage .buttons {
      margin-bottom: 0px;

      /* avoids that the buttons are hidden by the browser's
       * navigation bar
       */
    } 
  }
}

@media (min-device-width: 768px) {
  article > header.startpage {
    height: 320px;
  }

  article > header.startpage .buttons {
    display: none;
  }
}

/* headline and photo */

article > header.headline-and-photo {
  background: var(--gray);
}

article > header.headline-and-photo h1 {
  color: var(--white);
  text-shadow: var(--text-shadow);
}

article > header.headline-and-photo .background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-device-width: 767px) {
  article > header.headline-and-photo h1 {
    font-size: 2rem;
  }

  @media (orientation: portrait) {
    article > header.headline-and-photo {
      height: 56.25vw; /*16:9*/
    }
  }

  @media (orientation: landscape) {
    article > header.headline-and-photo {
      height: 50vh;
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  article > header.headline-and-photo h1 {
    font-size: 3rem;
  }

  @media (orientation: portrait) {
    article > header.headline-and-photo {
      height: 25vh;
    }
  }

  @media (orientation: landscape) {
    article > header.headline-and-photo {
     height: 33vh;
    }
  }
}

@media (min-device-width: 1025px) {
  article > header.headline-and-photo {
    height: 240px;
  }

  article > header.headline-and-photo h1 {
    font-size: 3rem;
  }
}

/**********************************************************************
 * main
 **********************************************************************/

article > main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/**********************************************************************
 * footers
 **********************************************************************/

 article > footer {
   display: flex;
   flex-direction: column;
   background: var(--light-gray);
 }

/**********************************************************************
 * sections
 **********************************************************************/

article section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article section.auto-height {
  flex: 1 0 auto;
}

article section.center-items {
  align-items: center;
}

article section.light-gray-bg {
  background: var(--light-gray);
}

/* teasers */

article section.teaser {
  background: var(--light-gray);
}

article section.teaser[data-background-image-loaded] {
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

article section.teaser a.link {
  color: inherit;
}

/**********************************************************************
 * menus
 **********************************************************************/

article section .menu {
  display: grid;
  align-content: space-evenly;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}

article section .menu-item {
  padding: 0 0 .5rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: var(--gray-border);
}

article section .menu-item .title {
  flex: none;
  color: var(--primary);
  font-weight: bold;
}

article section .menu-item .subline {
  flex: 1 0 auto;
  margin-top: .25rem;
}

article section .menu-item.loading:after {
  background: var(--primary);
}

@media (max-width: 767px) {
  article section .menu {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  @media (orientation: portrait) {
    article section .menu {
      grid-template-columns: 1fr;
    }
  }

  @media (orientation: landscape) {
    article section .menu {
      grid-template-columns: 1fr 1fr;
    }
  }
}

/**********************************************************************
 * contacts
 **********************************************************************/

article .contacts {
  display: grid;
  grid-gap: 2rem;
}

article .contact {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

article .contact .avatar {
  flex: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

article .contact .name {
  font-weight: bold;
}

article .contact .details {
  margin-top: .5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: .5rem;
}

@media (min-width: 991px)  {
  article .contacts {
    align-self: flex-start;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px)  {
  article .contacts {
    align-self: stretch;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
  }
}

@media (max-width: 767px) {
  article .contact {
    flex-direction: column;
  }

  article .contact .avatar {
    margin-bottom: 1rem;
  }

  article .contact .name,
  article .contact .function {
    text-align: center;
  }
}

@media (min-width: 768px) {
  article .contact {
    flex-direction: row;
  }

  article .contact .avatar {
    margin-right: 1rem;
  }
}

/**********************************************************************
 * buttons
 **********************************************************************/

article > main a.button,
article > footer a.button {
  padding: .5rem 1rem;
  border-radius: .5rem;
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: .5rem;
  align-items: center;
  color: var(--white);
  background: var(--primary);
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: .3s;
}

article > main a.button:hover,
article > footer a.button:hover {
  filter: brightness(90%);
}

/**********************************************************************
 * tables
 **********************************************************************/

article table {
  margin: 0;
  border-collapse: collapse;
}

article th,
article td {
  padding: .25rem .5rem;
  border: .125rem solid;
  text-align: left;
}

article tr:first-child th,
article tr:first-child td {
  border-top: none;
}

article tr:last-child th,
article tr:last-child td {
  border-bottom: none;
}

article th:first-child,
article td:first-child {
  border-left: none;
}

article th:last-child,
article td:last-child {
  border-right: none;
}

article th {
  background: var(--gray);
  border-color: var(--white);
  font-weight: bold;
}

article td {
  background: var(--light-gray);
  border-color: var(--white);
}

article section.light-gray-bg th  {
  border-color: var(--light-gray);
}

article section.light-gray-bg td  {
  background: var(--white);
  border-color: var(--light-gray);
}

article th.align-center,
article td.align-center {
  text-align: center;
}

article th.align-right,
article td.align-right {
  text-align: right;
}

/**********************************************************************
 * galleries
 **********************************************************************/

article .gallery {
  display: grid;
  grid-gap: .125rem;
}

article .gallery .image {
  position: relative;
  padding-top: 66.66%; /*2:3*/
  background: var(--gray);
}

article .gallery .image > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  article .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  article .gallery {
    margin: 1rem 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**********************************************************************
 * calendar
 **********************************************************************/

article .calendar {
  display: grid;
}

article .calendar > * {
  padding: .25rem .5rem;
}

article .calendar .day-of-week,
article .calendar .date,
article .calendar .time {
  background: var(--gray);
}

article .calendar .text {
  background: var(--light-gray);
}

article .calendar .past {
  opacity: .5;
}

@media (max-width: 767px) {
  article .calendar {
    grid-template-columns: auto auto auto;
  }

  article .calendar .date {
    text-align: center;
  }

  article .calendar .time {
    text-align: right;
  }

  article .calendar .text {
    grid-column: 1 / span 3;
    margin-bottom: .5rem;
  }
}

@media (min-width: 768px) {
  article .calendar {
    grid-template-columns: auto auto auto 1fr;
  }

  article .calendar > * {
    margin-bottom: .125rem;
  }
}

/**********************************************************************
 * sponsors
 **********************************************************************/

article .sponsors {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 4rem;
}

article .sponsors a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

article .sponsors img {
  max-width: 100%;
}

@media (max-width: 767px) {
  article .sponsors {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  article .sponsors {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  article .sponsors {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
