
.lightbox {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.9);
  /*box-shadow: var(--box-shadow);*/
  backdrop-filter: var(--backdrop-filter);
 -webkit-backdrop-filter: var(--backdrop-filter);
}

.lb-container {
  position: relative;
  background: var(--black);
}

.lb-viewport {
  overflow: hidden;
  display: flex;
}

.lb-pictures {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
}

.lb-pictures > picture > img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.lb-close-button {
  position: absolute;
  right: 16px;
  top: 16px;
}

.lb-prev-button {
  position: absolute;
  left: 16px;
}

.lb-next-button {
  position: absolute;
  right: 16px;
}

.lb-button {
  transition: opacity .3s;
}

.lb-button.disabled {
  opacity: .25;
}

.lb-button:not(.disabled):hover {
  cursor: pointer;
}

@media (orientation: portrait) {
  .lightbox {
    flex-direction: column;
  }

  .lb-container {
    padding: 48px 0;
  }

  .lb-viewport, .lb-pictures > picture {
    height: 75vw; /* 4:3 */
    width: 100vw;
  }

  .lb-prev-button, .lb-next-button {
    bottom: 16px;
  }
}

@media (orientation: landscape) {
  .lightbox {
    flex-direction: row;
  }

  .lb-container {
    padding: 0 48px;
  }

  .lb-viewport, .lb-pictures > picture {
    height: 100vh;
    width: calc(100vw - 96px);
  }

  .lb-prev-button, .lb-next-button {
    bottom: 50%;
  }
}
